﻿@using Sports_News.Models;
@model Sports_News.Models.User
@{
    ViewBag.Title = "Edit_userAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Sửa tài khoản</h2>
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Show_userAdmin", "User")">Quản lý tài khoản</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Sửa tài khoản
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
            <div class="form-group breadcrum-right">
                <div class="dropdown">
                    <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
                    <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- Snow Editor start -->
        <section class="full-editor">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add user admin</h4>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <p>Snow is a clean, flat toolbar theme.</p>
                            <div class="add-new-data-sidebar">
                                <div class="overlay-bg"></div>
                                <div class="add-new-data">
                                    <div class="data-items pb-3">
                                        <div class="data-fields px-2 mt-3">
                                            <form action="Edit_profile" method="post" id="identifier" enctype="multipart/form-data">
                                                @Html.AntiForgeryToken()
                                                <input type="text" id="data-tilte" hidden name="id" value="@Model.id">
                                                <div class="row">
                                                    <div class="col-sm-12 data-field-col">
                                                        <label for="data-email">Email</label>
                                                        <input type="text" class="form-control" id="data-email" name="email" value="@Model.email">
                                                    </div>
                                                    <div class="col-sm-12 data-field-col">
                                                        <label for="data-username">Username</label>
                                                        <input type="text" class="form-control" id="data-username" name="username" value="@Model.username">
                                                    </div>
                                                    <div class="col-sm-12 data-field-col">
                                                        <label for="data-full-name">Full name</label>
                                                        <input type="text" class="form-control" id="data-full-name" name="full_name" value="@Model.full_name">
                                                    </div>
                                                    <div class="col-sm-12 data-field-col">
                                                        <label asp-for="file">Upload avatar:</label>
                                                        <input type="file" name="file" id="file" style="width: 100%;" />
                                                        <label asp-for="file">@Model.img_url</label>
                                                    </div>
                                                    @if (Convert.ToInt32(Session["role"]) == 1)
                                                    {
                                                        <div class="col-sm-12 data-field-col">
                                                            <label for="data-role">Chức vụ</label>
                                                            <select class="form-control" id="data-role" name="role">
                                                                <option value="0" @(@Model.role == 0 ? "selected" : "")>Employee</option>
                                                                <option value="1" @(@Model.role == 1 ? "selected" : "")>Admin</option>
                                                            </select>
                                                        </div>
                                                    }
                                                    <div class="col-sm-12 data-field-col">
                                                        <label for="data-password">Password cũ</label>
                                                        <input type="password" class="form-control" id="data-password" name="password">
                                                    </div>
                                                    <div class="col-sm-12 data-field-col">
                                                        <label for="data-password">Password mới</label>
                                                        <input type="password" class="form-control" id="data-password" name="new_password">
                                                    </div>
                                                    <div class="col-sm-12 data-field-col">
                                                        <label for="data-confirm-password">Xác nhận Password mới</label>
                                                        <input type="password" class="form-control" id="data-confirm-password" name="confirm_password">
                                                    </div>
                                                    <div class="col-sm-12 data-field-col" style="text-align:center;">
                                                        <br />
                                                        <br />
                                                        <input type="submit" class="btn btn-primary" value="Update" name="btn_add_user" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Snow Editor end -->
    </div>
</div>

