﻿@using Sports_News.Models;
@model IEnumerable<User>
@{
    ViewBag.Title = "Show User Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Quản lý tài khoản</h2>
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Quản lý tài khoản
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">

        </div>
    </div>
    <div class="content-body">
        <!-- Data list view starts -->
        <section id="data-thumb-view" class="data-thumb-view-header">
            <!-- dataTable starts -->
            <div class="table-responsive">
                <table class="table data-thumb-view1">
                    <thead>
                        <tr>
                            <th></th>
                            <th>EMAIL</th>
                            <th>USERNAME</th>
                            <th>FULL NAME</th>
                            <th>Role</th>
                            <th>CREATE AT</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (User user in Model)
                        {
                        <tr>
                            <td></td>
                            <td class="product-email">@user.email</td>
                            <td class="product-username">@user.username</td>
                            <td class="product-full_name">@user.full_name</td>
                            <td class="product-category">
                                @if (user.role == 1)
                                {<div class="chip chip-info mr-1">
                                        <div class="chip-body">
                                            <span class="chip-text">Admin</span>
                                        </div>
                                    </div>
                                }
                                else
                                { <div class="chip chip-success mr-1">
                                        <div class="chip-body">
                                            <span class="chip-text" style="text-align:center;">Employee</span>
                                        </div>
                                    </div>
                                }
                            </td>
                            <td class="product-created_at">@user.created_at</td>
                            <td class="product-action">
                                <a href="Edit_userAdmin/@user.id"><i class="feather icon-edit"></i></a>
                                <a href="Delete_userAdmin/@user.id"><i class="feather icon-trash"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- dataTable ends -->
        </section>
        <!-- Data list view end -->
    </div>
</div>
