﻿@using Sports_News.Models;
@model IEnumerable<Category>
@{
    ViewBag.Title = "Add_post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Thêm mới bài viết</h2>
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Show_post", "Post")">Quản lý bài viết</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Thêm mới bài viết
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
            <div class="form-group breadcrum-right">
                <div class="dropdown">
                    <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
                    <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- Snow Editor start -->
        <section class="full-editor">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Quản lý bài viết</h4>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="add-new-data-sidebar">
                                <div class="overlay-bg"></div>
                                <div class="add-new-data">
                                    <div class="data-items pb-3">
                                        <div class="data-fields px-2 mt-3">
                                            <form action="Add_post" method="post" id="identifier" enctype="multipart/form-data">
                                                @Html.AntiForgeryToken()
                                                <div class="row">
                                                    <div class="col-sm-12 data-field-col">
                                                        <label for="data-tilte">Title</label>
                                                        <input type="text" class="form-control" id="data-tilte" name="title">
                                                    </div>
                                                    <div class="col-sm-12 data-field-col">
                                                        <label asp-for="file">Upload Image:</label>
                                                        <input type="file" name="file" id="file" style="width: 100%;" />
                                                    </div>
                                                    <div class="col-sm-12 data-field-col">
                                                        <br />
                                                        <label for="data-category"> Category </label>
                                                        <select class="form-control" id="data-category" name="category">
                                                            @foreach (Category category in Model)
                                                            {
                                                                <option value="@category.id">@category.name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-12 data-field-col">
                                                        <div class="vs-checkbox-con vs-checkbox-success">
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <input type="checkbox" checked name="published" value="true">
                                                            <span class="vs-checkbox">
                                                                <span class="vs-checkbox--check">
                                                                    <i class="vs-icon feather icon-check"></i>
                                                                </span>
                                                            </span>
                                                            <span class="">Hiển thị</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 data-field-col">
                                                        <label for="describe">Mô tả:</label>
                                                        <textarea class="form-control" rows="5" id="describes" name="describes"></textarea>
                                                    </div>
                                                        <!---->
                                                        <div class="col-sm-12 data-field-col">
                                                            <label for="data-body">Nội dung</label>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div id="full-wrapper">
                                                                        <div id="full-container">
                                                                            <textarea id="my-editor"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- -->
                                                        <textarea name="body_post" style="display:none" id="hiddenArea"></textarea>
                                                        <div class="col-sm-12 data-field-col" style="text-align:center;">
                                                            <br />
                                                            <br />
                                                            <input type="submit" class="btn btn-primary" value="Thêm mới" name="btn_add" />
                                                        </div>
                                                    </div>
</form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Snow Editor end -->
    </div>
</div>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>


