﻿@using Sports_News.Models;
@model IEnumerable<Post>
@{
    ViewBag.Title = "Show_product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Quản lý bài viết</h2>
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Quản lý bài viết
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">

        </div>
    </div>
    <div class="content-body">
        <!-- Data list view starts -->
        <section id="data-thumb-view" class="data-thumb-view-header">
            <!-- dataTable starts -->
            <div class="table-responsive">
                <table class="table data-thumb-view">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Image</th>
                            <th>TITLE</th>
                            <th>USER ID</th>
                            <th>Trạng thái</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Post posts in Model)
                        {
                            <tr>
                                <td></td>
                                <td class="product-img">
                                    <img src="../../../Content/images/@posts.image" alt="Img placeholder">
                                </td>
                                <td class="product-name">@posts.title</td>
                                <td class="product-category">@posts.user_id</td>
                                <td class="product-category">
                                    @if (posts.published == 1)
                                    {<div class="chip chip-danger mr-1">
                                            <div class="chip-body">
                                                <span class="chip-text">Ẩn</span>
                                            </div>
                                        </div>
                                    }
                                    else
                                    { <div class="chip chip-success mr-1">
                                            <div class="chip-body">
                                                <span class="chip-text" style="text-align:center;">Hiển thị</span>
                                            </div>
                                        </div>
                                    }
                                </td>
                                <td class="product-action">
                                    <a href="Edit_post/@posts.id"><i class="feather icon-edit"></i></a>
                                    <a href="Delete_post/@posts.id"><i class="feather icon-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- dataTable ends -->
        </section>
        <!-- Data list view end -->
    </div>
</div>

