﻿@using Sports_News.Models;
@model Sports_News.Models.Post
@{
    ViewBag.Title = "Show_post_details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div>
        @Html.Raw(@Model.body)
    </div>
    <hr />
    <div>
        <!-- comment facebook-->
        <div id="facebook-comments">
            <h3 id="reply-title">Bình luận</h3>
            <fb:comments xid="<% the_ID(); %>" num_posts="5" width="100%"></fb:comments>
        </div>
        <!-- end comment facebook-->
    </div>
    <!-- Facebook JavaScript SDK -->
    <div id="fb-root"></div>
    @section Scripts
    {
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=456157919116372";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    }
    <!-- End Facebook JavaScript SDK -->
</div>
