﻿@using Sports_News.Models;
@model IEnumerable<Post>
@{
    ViewBag.Title = "Home Page";
}
<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">

                </div>
            </div>
        </div>
    </div>
    <div class="content-detached content-right">
        <div class="content-body">
            <!-- Ecommerce Content Section Starts -->
            <section id="ecommerce-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ecommerce-header-items">
                            <div class="result-toggler">
                                <button class="navbar-toggler shop-sidebar-toggler" type="button" data-toggle="collapse">
                                    <span class="navbar-toggler-icon d-block d-lg-none"><i class="feather icon-menu"></i></span>
                                </button>
                                <div class="search-results">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Ecommerce Content Section Starts -->
            <!-- background Overlay when sidebar is shown  starts-->
            <div class="shop-content-overlay"></div>
            <!-- background Overlay when sidebar is shown  ends-->
            <!-- Ecommerce Search Bar Starts -->
            <section id="ecommerce-searchbar">
                <div class="row mt-1">
                    <div class="col-sm-12">
                        <fieldset class="form-group position-relative">
                            <form action="@Url.Action("Search", "Home")" method="post">
                                <input type="text" class="form-control search-product" id="iconLeft5" placeholder="Search here" name="search">
                                <div class="form-control-position">
                                    <button type="submit" class="btn btn-sm btn-icon btn-icon rounded-circle btn-flat-success mr-1 mb-1 waves-effect waves-light"><i class="feather icon-search"></i></button>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </section>
            <!-- Ecommerce Search Bar Ends -->
            <!-- Ecommerce Products Starts -->
            <div class="row">
                <div class="col-8">
                    <section id="ecommerce-products" class="list-view">
                        @foreach (Post post in Model)
                        {
                            <div class="card ecommerce-card" >
                                <a href="@Url.Action("Show_post_details", "Post", new { @post.id })">
                                    <div class="card-content">
                                        <div class="item-img text-center">
                                            <img src="../../../Content/images/@post.image" alt="img-placeholder" width="320" height="170">
                                        </div>
                                        <div class="card-text" style="width:100%">
                                            <div class="item-name">
                                                <h2><a href="@Url.Action("Show_post_details", "Post", new { @post.id })">@post.title</a></h2>
                                            </div>
                                            <div>
                                                <p class="item-description">
                                                    @post.describes
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </section>
                </div>
                <div class="col-4">
                    <section>
                        <div class="card" style="margin-right:15px;">
                            <div class="card-body">
                                <h3>Tin tức nổi bật</h3>
                                <table class="table ">
                                    @foreach (Post posts in Model)
                                    {
                                        <tr>
                                            <td class="product-img">
                                                <a href="@Url.Action("Show_post_details", "Post", new { @posts.id })">
                                                    <img src="../../../Content/images/@posts.image" alt="Img placeholder" width="90px" height="60">
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="@Url.Action("Show_post_details", "Post", new { @posts.id })">@posts.title</a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- Ecommerce Products Ends -->
        </div>
    </div>
    <div class="sidebar-detached sidebar-left">
        <div class="sidebar">
        </div>
    </div>
</div>

