﻿
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>test</h2>
<form action="test" method="post" id="identifier">
    @Html.AntiForgeryToken()
    <label>a</label>
    <input type="text" name="a" /><br />
    <label>b</label>
    <input type="text" name="b" /><br />
    <input type="submit" name="btn" value="ket qua" />
</form>
@if (TempData["sum"] != null)
{
    <p class="px-2" style="color: maroon;">ket qua: @TempData["sum"]</p>
}