﻿
@{
    ViewBag.Title = "Add_category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Thêm mới Category</h2>
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Show_category", "Category")">Quản lý Category</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Thêm mới Category
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
            <div class="form-group breadcrum-right">
                <div class="dropdown">
                    <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
                    <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <section class="full-editor">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Quản lý Category</h4>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="add-new-data-sidebar">
                                <div class="overlay-bg"></div>
                                <div class="add-new-data">
                                    <div class="data-items pb-3">
                                        <div class="data-fields px-2 mt-3">
                                            <form action="Add_category" method="post" id="identifier">
                                                @Html.AntiForgeryToken()
                                                <div class="row">
                                                    <div class="col-sm-12 data-field-col">
                                                        <label for="data-menu">Tên Category</label>
                                                        <input type="text" class="form-control" id="data-menu" name="name">
                                                    </div>
                                                    <div class="col-sm-12 data-field-col" style="text-align:center;">
                                                        <br />
                                                        <br />
                                                        <input type="submit" class="btn btn-primary" value="Thêm mới" name="btn_add_user" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

