﻿@using Sports_News.Models;
@model IEnumerable<Category>
@{
    ViewBag.Title = "Show_category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Quản lý Category</h2>
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Quản lý Category
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">

        </div>
    </div>
    <div class="content-body">
        <!-- Data list view starts -->
        <section id="data-thumb-view" class="data-thumb-view-header">
            <!-- dataTable starts -->
            <div class="table-responsive">
                <table class="table data-thumb-view2">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Tên category</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Category category in Model)
                        {
                            <tr>
                                <td></td>
                                <td class="product-email">@category.id</td>
                                <td class="product-username">@category.name</td>
                                <td class="product-action">
                                    <a href="Edit_category/@category.id"><i class="feather icon-edit"></i></a>
                                    <a href="Delete_category/@category.id"><i class="feather icon-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- dataTable ends -->
        </section>
        <!-- Data list view end -->
    </div>
</div>
